:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*VERSÃO MOBILE-FIRST MOBILE=============================================================================== */

body {
  background-color: #121214;
  width: 100vw;
  max-width: 45rem;
 /* border: solid aquamarine 1px; */
  margin: 0 auto;
  font-family: 'Inconsolata', monospace;
  color: aliceblue;
}
/*CABEÇALHO---------------------------------------------------------*/
header {
 /* border: 1px red solid; */
  height: 8rem;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.green {
  color: #badb73;
}

header h1 {
  width: 18rem;
  
  color: white;
  margin-left:  0.8rem;
  font-family: 'Inter', sans-serif;
}

header button {
  border: none;
  list-style: none;
  background-color: #121214;
  margin-right: 0.8rem;
}

/*ME APRESENTAÇÃO---------------------------------------------------------*/
section {
  /*border: solid 1px red;*/
}

.me {
  margin: 14.1rem auto 0 auto;
  max-width: 31.4rem;

}

.me h3 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.2rem;

  color: #badb73;
}

.me h4 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.4rem;

  margin-top: 1.6rem;
}

.me p {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.5rem;

  margin-top: 1.6rem;
}

.photo {
  margin-top: 6.4rem;
}

.photo img {
  display: block;
  max-width: 41.3rem;
  height: 35rem;
  margin: 0 auto;
}

/*AboutME---------------------------------------------------------*/

.imgballs {
  width: 10rem;
  display: block;
  margin: 0 auto;
  margin-top: 3.4rem;
}

.sobremim {
  margin: 3.2rem auto 3.2rem auto;
  max-width: 32rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.5rem;

}

/*ListSkills---------------------------------------------------------*/

#Skills h3 {
  color: #BADB73;
  max-width: 29rem;
  height: 34px;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  margin: 7.1rem auto 3.2rem auto;
}

.listskills {
  margin: 0 auto;
  max-width: 285px;
}

.skills {
  display: flex;
  background-color: #00000057;
  max-width: 28.5rem;
  height: 6rem;
  margin-bottom: 1.6rem;
  border-radius: 1rem;
  align-items: center;
  
}

.skills img {
  width: 2.8rem;
  height: 3.2rem;
  margin-left: 3.2rem;
}

.skills p {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.5rem;
  margin-left: 1.6rem;
}

/*MeusProjetos---------------------------------------------------------*/

#myworks h3 {
  color: #badb73;
  height: 3.4rem;
  font-family: 'Inconsolata';
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.4rem;
  max-width: 32rem;
  margin: 6.4rem auto 3.2rem auto;
}

#myworks ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}

#myworks ul li a img {
  max-width: 32rem;
  max-height: 32rem;
  border-radius: 1rem; 
}

#myworks ul li a img:hover {
  color: black;
  
}

/*FOOTER---------------------------------------------------------*/

footer h3 {
  font-family: Impact;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
}