:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

/*VERSÃO MOBILE-FIRST MOBILE=============================================================================== */

body {
  background-color: #121214;
  width: 100vw;
  max-width: 45rem;
 /* border: solid aquamarine 1px; */
  margin: 0 auto;
  font-family: 'Inconsolata', monospace;
  color: aliceblue;
}
/*CABEÇALHO---------------------------------------------------------*/
header {
 /* border: 1px red solid; */
  height: 8rem;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.green {
  color: #badb73;
}

header h1 {
  width: 18rem;
  
  color: white;
  margin-left:  0.8rem;
  font-family: 'Inter', sans-serif;
}

header button {
  border: none;
  list-style: none;
  background-color: #121214;
  margin-right: 0.8rem;
}

/*ME APRESENTAÇÃO---------------------------------------------------------*/
section {
  border: solid 1px red;
}

.me {
  margin: 14.1rem auto 0 auto;
  max-width: 31.4rem;
  border: 1px solid aquamarine;
}

.me h3 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.2rem;

  color: #badb73;
}

.me h4 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.4rem;

  margin-top: 1.6rem;
}

.me p {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.5rem;

  margin-top: 1.6rem;
}

.photo {
  margin-top: 6.4rem;
}

.photo img {
  display: block;
  width: 41.3rem;
  height: 35rem;
  margin: 0 auto;
  
}